.aPropos {
  padding: 0 12rem;
  max-width: 90rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aPropos > div {
  width: 50%;
}

.ap-title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 28px;
  border-bottom: 2px solid #387a3d;
  width: fit-content;

  display: block;
}

.ap-text {
  font-size: 24px;
}
.ap-image {
  height: 28rem;
  width: 30rem;
}
