.ap-title {
  font-size: 64px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  /* width: 100%; */
  margin: auto;
}
.ap-title:hover {
  border-bottom: 2px solid white;
}

.ap-text {
  font-size: 24px;
  color: white;
}
.aPropos {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
