.banner {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  filter: brightness(0.5);
}
.RVButton {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  bottom: 16rem;
  transform: translate(-50%, 0);
  z-index: 10;
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 1);

  text-transform: uppercase;
  font-family: theFont-thin;
  font-weight: 100;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
.RVButton:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.bq-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  color: white;
  font-size: 80px;
  text-transform: uppercase;
  /* font-family: "Roboto", sans-serif; */
  line-height: 80px;
  animation:
    typing 2s steps(26),
    0.5s step-end infinite alternate;
  border: 1px solid white;

  overflow: hidden;
  font-family: monospace;
}

@keyframes typing {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
.scroll {
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
  text-decoration: none;

  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 12px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.scroll-text {
  color: white;
  font-size: 20px;
}
.scroll-logo {
  color: white;
  transform: rotate(90deg);
  font-size: 56px;
  text-align: center;
  margin: auto;
}
.banner-side {
  margin-left: 60px;
  /* padding: 2rem 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10;
  position: absolute;
  bottom: 0;
  height: 100%;
}
.bs-text {
  color: white;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -2px;
  padding-top: 52px;
}
.bs-line {
  /* height: calc(100% - 180px - 280px - 58px - 48px ); */
  height: 30%;
  width: 0;
  margin: 28px auto;
  border-left: 1px solid white;
}
.social-logo {
  height: 24px;
  width: 24px;
  padding-bottom: 12px;
}
.sl-icon {
  height: 24px;
  width: 24px;
}
.social-logo:last-child {
  padding-bottom: 52px;
}
