.contact {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* padding: 0 220px; */
}
.contact-text {
  z-index: 10;
  color: white;
  text-transform: uppercase;
  /* margin: 0 480px; */
  text-align: center;
}
.contact-title {
  font-size: 64px;
}
.form {
  color: white;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  /* margin: 0 480px; */
  /* padding-right: 50px; */
}
input,
textarea {
  margin: 0 0 20px 0px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  font-family: theFont-regular;
  font-size: 16px;
  text-transform: uppercase;
}
input {
  height: 45px;
  padding-left: 12px;
}
textarea {
  padding: 12px;
  height: fit-content;
  height: 80px;
}
input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.65);
}
textarea:focus,
input:focus {
  outline: none;
  border: 1px solid white;
}
button {
  padding: 12px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  font-family: theFont-regular;
  font-size: 16px;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
}
button:hover {
  background: white;
  color: rgba(0, 0, 0, 0);
}
