.form {
  display: Flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
  background: rgb(240, 240, 240);
  border-radius: 1rem;
}
.form-label {
  width: 100%;
  height: 4rem;
}
.form-label:nth-last-child(n + 2) {
  margin-bottom: 1rem;
}
.form-input {
  background: rgb(240, 240, 240);
  width: 99%;
  height: 40px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid black;
}
.form-input:focus,
.form-input:valid {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
.form-input:focus + .form-label,
.form-input:valid + .form-label {
  color: red;
  background-color: blueviolet;
}
