.nos-services {
  max-width: 90rem;
  padding: 12rem;
  margin: auto;
  background: white;
}
.ns-service {
  /* width: 100%; */
  display: flex;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 5rem;
}
.nss-left {
  /* width: 50%; */
}
.nsl-title {
  font-size: 36px;
  font-family: theFont-regular;
}
.nsl-desc {
  font-size: 24px;
}
.nss-right {
  border: 2px solid#387a3d;
  width: fit-content;
  height: fit-content;
  width: calc(100vw / 3.5);
  height: calc(100vw * (3 / 4) / 3.5);
  position: relative;
  /* top: 20px; */
}
.nss-right-img {
  width: calc(100vw / 3.5);
  position: absolute;
  top: -3rem;
  right: -3rem;
  /* object-fit: cover; */
}
