.notreEquipe {
  width: 100vw;
}
.ne-title {
  margin: 0 12rem;
  margin-bottom: 2rem;
  font-size: 56px;
}
.ne-card {
  border-top-right-radius: 25px;
}
.nec-image {
  width: 24vw;
  border-top-right-radius: 25px;
  margin-bottom: 12px;
}
.nec-name {
  font-size: 20px;
  margin: 4px 0;
}
.nec-logo {
  height: 24px;
  width: 24px;
  margin-left: 4px;
}
