@font-face {
  font-family: theFont-thin;
  src: url("./assets/Manrope-ExtraLight.ttf");
}
@font-face {
  font-family: theFont-bold;
  src: url("./assets/Manrope-ExtraBold.ttf");
}
@font-face {
  font-family: theFont-regular;
  src: url("./assets/Manrope-Regular.ttf");
}
*::-webkit-scrollbar {
  display: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0;
  font-family: theFont-thin;
  font-weight: 100;
}
html {
  scroll-behavior: smooth;
}
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  /* display: flex;
  flex-direction: column;
  gap: 4rem; */
}

.some {
  position: fixed;
  z-index: -1;
}
