@font-face {
  font-family: theFont-thin;
  src: url("./assets/Manrope-ExtraLight.ttf");
}
@font-face {
  font-family: theFont-bold;
  src: url("./assets/Manrope-ExtraBold.ttf");
}
@font-face {
  font-family: theFont-regular;
  src: url("./assets/Manrope-Regular.ttf");
}
body {
  width: 100vw;
  display: block;
  margin: 0;
  font-family: theFont-thin;
  font-weight: 100;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}
body::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
