.notreEquipe {
  /* display: flex; */
  /* height: 100vh; */
  /* padding: 60px 36px; */
  width: 100vw;
}
.ne-title {
  margin: 36px 224px;
  font-size: 36px;
}
.ne-card {
  /* width: 33vw; */
  /* margin: 0 36px; */
  border-top-right-radius: 25px;
}
.nec-image {
  /* height: 70%; */
  width: 24vw;
  border-top-right-radius: 25px;
  margin-bottom: 12px;
}
.nec-name {
  font-size: 20px;
  margin: 4px 0;
}
.nec-logo {
  height: 24px;
  width: 24px;
  margin-left: 4px;
}
